// Place all the styles related to the calendars controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body {
  background-color: white;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

}
.calendar {
  width: 100vw;
  margin-top: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.item {
  margin-top: 0;
}

.date {
  height: 5vh;
  width: 6vw;
  display: flex;
  font-size: 3vh;
  align-items: center;
  justify-content: center;
  border: medium solid rgb(0, 0, 0);
  background-color: rgb(246, 253, 255);
}

.position {
  height: 5vh;
  width: 6vw;
  display: flex;
  font-size: 2vh;
  align-items: center;
  justify-content: center;
  border: medium solid rgb(0, 0, 0);
  background-color: rgb(246, 253, 255);
}

.members {
  margin-top: 6vh;
}

.member {
  height: 5vh;
  width: 3vw;
  display: flex;
  font-size: 2vh;
  align-items: center;
  justify-content: center;
  border: medium solid rgb(0, 0, 0);
  background-color: rgb(246, 253, 255);
}

.buttons {
  display: flex;
  text-align: center;
  justify-content: space-between;
  margin: 10vh 20vw;
}

.button {
  color: black;
}

.date-input {
  display: none;
}

.uniq {
  display: block;
}